<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">RUC del Informante</th>
        <th scope="col">Nombre o Razón Social del Informante</th>
        <th scope="col">RUC / N° de Identificación del Informado</th>
        <th scope="col">Fecha de Emisión</th>
        <th scope="col">Condición de la Operación</th>
        <th scope="col">Número de Comprobante</th>
        <th scope="col">Total Comprobante</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{contribuyenteEncontrado.ruc_contribuyente}}</th>
        <td>{{contribuyenteEncontrado.razon_social_contribuyente}}</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>