.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: #2ECC71;
	border: 2px solid #2ECC71;
	border-radius: 50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	transition-duration: 0.4s;
	opacity: 1;
    color: black;
}
.float:hover {
	background-color: #2ECC71;
	border: 2px solid #2ECC71;
	opacity: 0.5;
  }
  .float:focus {
	outline: 0;
  }
  .excel-icon {
	width:30px;
	height:30px;
	bottom:40px;
	right:40px;
  }